<% if user_signed_in? %>
<p></p>
<% else %>	
	<div class="container">
	<div class="jumbotron">
    <center><h1>Get Your Nerd On </h1>
    <p>Join us today to connect and share Geeky images with other Geek Girls</p>
    	<p> This site is still in its baby stages, so hang out and explore what we do have to offer!
     </p>
<p></p>
    <p> <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-inverse" %> </p>
	</center>
</div>
</div>

	<% end %>