

<h1>About Geek Girls Guild</h1>
<p>
	Geek Girls Guild is a site for nerdy ladies to get together and share 1337 content from all over teh Interwebz in one place.</p>
<br></br>
	<p>We like all forms of geekery and don't descriminate as far as content goes... but maybe gender. Just kidding, not really. Really. Not really.</p>
<br></br>
<br></br>
	<p>Maybe.</p>
	<div class="pagination-centered"><p><img src="http://i.imgur.com/buxSsQk.gif"></p></div>
<br></br>
<hr>
	<p><%= link_to "One Month Rails", "http://onemonthrails.com" %>
	is a project to teach
	<%= link_to "Ruby on Rails", "http://rubyonrails.com" %>
	in one month. This is the sample application.
</p>
