
	<div class="container">
	<div class="center hero-unit">
    <h1>Nerd Out </h1>
    <p>with <%= link_to 'Girls in Tech',  "http://kimberrleigh.com" %>
     </p>

    <p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-info" %> </p>
	</div>
</div>
<div class="span6">
<h1>Who we are</h1>
<p> We're a group of 20-something nerdy ladies who enjoy getting together
	and discussing various nerdy topics like video games, Sci-Fi books, technology
	tabletop games and more!
	We're a group of 20-something nerdy ladies who enjoy getting together
	and discussing various nerdy topics like video games, Sci-Fi books, technology
	tabletop games and more!
	We're a group of 20-something nerdy ladies who enjoy getting together
	and discussing various nerdy topics like video games, Sci-Fi books, technology
	tabletop games and more!
	We're a group of 20-something nerdy ladies who enjoy getting together
	and discussing various nerdy topics like video games, Sci-Fi books, technology
	tabletop games and more!
	We're a group of 20-something nerdy ladies who enjoy getting together
	and discussing various nerdy topics like video games, Sci-Fi books, technology
	tabletop games and more!
</p>
<p> <%= link_to 'Learn more!', "#", class: "btn btn-small btn-info" %></p>
	</div>
	<div class="span4">
<h1>What we do</h1>
<p> Currently we're all employed in the technology field!
	But we accept nerd girls from any and all professions.
	Some of the areas we work in: software development, software testing, information security.
	Currently we're all employed in the technology field!
	But we accept nerd girls from any and all professions.
	Some of the areas we work in: software development, software testing, information security.
	Currently we're all employed in the technology field!
	But we accept nerd girls from any and all professions.
	Some of the areas we work in: software development, software testing, information security.
	Currently we're all employed in the technology field!
	But we accept nerd girls from any and all professions.
	Some of the areas we work in: software development, software testing, information security.

</p>
	</div>