<% if user_signed_in? %>
<h1> You're logged in, welcome!</h1>
<p> How have you been? ^_^ </p>
<% else %>	
	<div class="container">
	<div class="jumbotron">
    <center><h1>Get Your Nerd On </h1>
    <p>Join us today to connect with fellow geek girls.</p>
    	<p>We embrace all aspects of nerd culture.</p>
    	<p>We can't wait to meet you! </p>
     </p>

    <p> <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-inverse" %> </p>
	</center>
</div>
</div>
<hr>
<div class="span6">
<h1>Who we are</h1>
<p> We're a group of 20-something nerdy ladies who enjoy getting together
	and discussing various nerdy topics like video games, Sci-Fi books, technology
	tabletop games and more!
	We're a group of 20-something nerdy ladies who enjoy getting together
	and discussing various nerdy topics like video games, Sci-Fi books, technology
	tabletop games and more!
	We're a group of 20-something nerdy ladies who enjoy getting together
	and discussing various nerdy topics like video games, Sci-Fi books, technology
	tabletop games and more!
	We're a group of 20-something nerdy ladies who enjoy getting together
	and discussing various nerdy topics like video games, Sci-Fi books, technology
	tabletop games and more!
	We're a group of 20-something nerdy ladies who enjoy getting together
	and discussing various nerdy topics like video games, Sci-Fi books, technology
	tabletop games and more!
</p>
<p> <%= link_to 'Learn more!', "#", class: "btn btn-small btn-info" %></p>
	</div>
	<div class="span4">
<h1>What we do</h1>
<p> Currently we're all employed in the technology field!
	But we accept nerd girls from any and all professions.
	Some of the areas we work in: software development, software testing, information security.
	Currently we're all employed in the technology field!
	But we accept nerd girls from any and all professions.
	Some of the areas we work in: software development, software testing, information security.
	Currently we're all employed in the technology field!
	But we accept nerd girls from any and all professions.
	Some of the areas we work in: software development, software testing, information security.
	Currently we're all employed in the technology field!
	But we accept nerd girls from any and all professions.
	Some of the areas we work in: software development, software testing, information security.

</p>
	</div>
	<% end %>