@import "bootstrap";
@import "bootstrap-responsive";
html, body {
  height: 100%;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
}

.container{
	padding-top: 60px;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px;
  margin-bottom: 50px;
}

