
$baseFontFamily: Tauri;
@import url(http://fonts.googleapis.com/css?family=Tauri);

$textColor: #2E2E2E;

@import "bootstrap";
@import "bootstrap-responsive";
html, body {
  height: 100%;
}

h1 {
color: #6A0888;
font-weight: bold;
} 

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
}

.container{
	padding-top: 60px;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px;
  margin-bottom: 50px;
}

